;(function(omidGlobal,factory,exports){if(typeof exports==='object'&&typeof exports.nodeName!=='string'){factory(omidGlobal,exports);}else{var exports={};var vs=['${semVersionString}-${buildVersion}'];var a='${additionalVersionString}';if(!!a){vs.push(a);}factory(omidGlobal,exports);function df(object){for(var k in object){if(object.hasOwnProperty(k)){object[k]=df(object[k]);}}return Object.freeze(object);}for(var k in exports){if(exports.hasOwnProperty(k)){if(Object.getOwnPropertyDescriptor(omidGlobal,k)==null){Object.defineProperty(omidGlobal,k,{value:{},});}vs.forEach(function(v){if(Object.getOwnPropertyDescriptor(omidGlobal[k],v)==null){var fo=df(exports[k]);Object.defineProperty(omidGlobal[k],v,{get:function(){return fo;},enumerable:true,});}});}}}}(typeof global==='undefined'?this:global,function(omidGlobal,omidExports){%output%},typeof exports==='undefined'?undefined:exports));